<h1>{{name}}</h1>
<hr>
<p>Occupation: {{occupation}}</p>
<p>Catch Phrase: {{catchPhrase}}</p>
<hr>
<a href="/celebrities">Go back</a>
<form action="/celebrities/{{_id}}/delete" method="POST">
    <button>Delete</button>
</form>
